<footer style="background-color:aquamarine">
    
    <p style="align-content: flex-end"><a href="{{helpPage}}">Help</a> </p>

    <hr>
    <!-- {{getCurrentYear}} uses the helper function defined in server.js -->
    <p style="">  create by Bert De Backer - Copyright - &copy;{{getCurrentYear}}</p>
</footer>