<div>

<div class="pageHeader">
    <h1>{{pageTitle}}</h1>

    <p >
        <table>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/projects">Projects</a></td>
                <td>
                    <div class="dropdown">
                        <a href="/links" target="_blank">Links</a><br>
                        <div class="dropdown-content" style="left:0;">
                            <a href="./linksWork.html" target="_blank">Work</a><br>
                            <a href="./linksHobby.html" target="_blank">Hobby</a><br>
                            <a href="./linksTravel.html" target="_blank">Travel</a><br>
                            <a href="/Programming" target="_blank">Programming</a><br>
                            <a href="/DGB" target="_blank">Den Grooten Buurt</a><br>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <a href="/about" target="_blank">About</a><br>
                        <div class="dropdown-content" style="left:0;">
                            <a href="#" target="_blank">About this site</a><br>
                            <a href="{{helpPage}}">Help</a><br>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

</div>

</div>