
<div id="pageFooter">
    
    <!-- {{getCurrentYear}} uses the helper function defined in server.js -->
    <p class="footer">created by Bert De Backer - Copyright - &copy;{{getCurrentYear}}</p>
    <!--input type="button" value="Open Window" onclick="openWin()"-->
</div>
