<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="./main.css" rel="stylesheet" type="text/css">
    <!--script src="main.js"></script-->
    <!--style></style-->

</head>


<body class="body">



    <div class="header">
        <h1>Home</h1>

        <p>
            <table>
                <tr>
                    <td><a href="/">Home</a></td>
                    <td><a href="/projects">Projects</a></td>
                    <td>
                        <div class="dropdown">
                            <a href="/links" target="_blank">Links</a><br>
                            <div class="dropdown-content" style="left:0;">
                                <a href="./linksWork.html" target="_blank">Work</a><br>
                                <a href="./linksHobby.html" target="_blank">Hobby</a><br>
                                <a href="./linksTravel.html" target="_blank">Travel</a><br>
                                <a href="./linksProgramming.html" target="_blank">Programming</a><br>
                                <a href="/Programming" target="_blank">Programming</a><br>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <a href="/about" target="_blank">About</a><br>
                            <div class="dropdown-content" style="left:0;">
                                <a href="#" target="_blank">About this site</a><br>
                                <a href="http://localhost:3550//help.html">Help</a><br>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

    </div>

    <p>Text to come right here.</p>



    <!-- 2018 uses the helper function defined in server.js -->
    <p class="footer">created by Bert De Backer - Copyright - &copy;2018</p>

</body>



</html>